---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import SeoHead from "@components/SeoHead.astro";
import { shopifyFetch } from "@lib/shopify";
import {
  GET_PRODUCT_BY_HANDLE,
  GET_PRODUCT_HANDLES,
} from "@lib/queries/products.ts";

import ProductMediaGallery from "@components/Product/ProductMediaGallery.svelte";
import ProductPurchaseBlock from "@components/Product/ProductPurchaseBlock.svelte";
import ProductInfoBlock from "@components/Product/ProductInfoBlock.astro";

export async function getStaticPaths() {
  const data = await shopifyFetch(GET_PRODUCT_HANDLES);
  const products = data.products;

  return products.map((product) => ({
    params: { handle: product.handle },
  }));
}

const { handle } = Astro.params;

const data = await shopifyFetch(GET_PRODUCT_BY_HANDLE, { handle });
const product = data.productByHandle;
---

<SeoHead
  title={`${product.title} | MALYXIA`}
  description={`Shop ${product.title}`}
/>

<DefaultLayout>
  <div class="relative z-10 min-h-screen">
    <!-- FIXED REMOVING ITEMS START ^ NOW WORKS!! -->
    <div class="lg:flex lg:gap-12">
      <!-- FIXED REMOVING ITEMS START ^ NOW WORKS!! -->
      <!-- LEFT: MEDIA -->
      <div class="flex-1">
        <div class="block lg:hidden">
          <ProductMediaGallery
            client:load
            variant="swipe"
            images={product.images}
          />
        </div>
        <div class="hidden lg:block">
          <ProductMediaGallery
            client:load
            variant="editorial"
            images={product.images}
          />
        </div>
      </div>

      <!-- RIGHT: STICKY INFO -->
      <div class="relative flex flex-col w-[500px]">
        <div class="flex-1"></div>
        <div class="lg:sticky lg:bottom-1">
          <div class="space-y-8 p-5">
            <ProductInfoBlock product={product} />
            <ProductPurchaseBlock
              client:only="svelte"
              product={product}
              mode="detail"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</DefaultLayout>
